body {
    background-color: burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todo-wrapper {
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-weight: 250;
}

.todo-wrapper h2 {
    margin: 0;
}

.todo-wrapper p {
    font-style: italic;
    color: rgb(88, 85, 85);
    margin: 5px 0;
}

.todo-wrapper ol {
    margin: 20px 0;
}

.todo-wrapper ol li{
    margin: 5px 0;
    padding: 3px;
    transition: all 1s ease-in-out;
}

.todo-wrapper input {
    padding: 3px 5px;
    width: 45%;
    display: inline-block;
}

.todo-wrapper .button-add:hover {
    cursor: pointer;
    opacity: 0.7;
}

.todo-wrapper .button-add {
    margin: 10px 2px;
    color: white;
    background-color: chocolate;
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
    text-align: center;
    
}